<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../movie-service/movie-service.html">
<link rel="import" href="movie-card.html">

<polymer-element name="movie-list">
  <template>
    <style>
      :host {
        display: block;
      }
      @media only screen and (min-width: 600px) {
        movie-card {
          width: 33%;
          float: left;
        }
      }

    </style>
    <movie-service id="service" movies="{{movies}}"> </movie-service>
    <div>
      <template repeat="{{movie in movies}}">
        <movie-card movie="{{movie}}">
          <img src="{{movie.cover}}" />
        </movie-card>
      </template>
    </div>
  </template>
  <script>
    Polymer({});
  </script>
</polymer-element>
