<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">

<polymer-element name="movie-card" attributes="movie" on-click="open">
  <template>
    <style>
      :host {
        display: block;
      }
      .card-header {
        position: relative;
      }
      polyfill-next-selector { content: '.card-header img'; }
      .card-header ::content img {
        max-width: 100%;
      }
      video {

      }
    </style>
    <div class="card-header">
      <paper-ripple class="circle" fit></paper-ripple>
      <content fit select="img"></content>
    </div>
    <video src="{{movie.url}}"></video>
  </template>
  <script>
    Polymer({
      open: function () { VideoPlayer.play(this.movie.url); }
    });
  </script>
</polymer-element>
