<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../movie-service/movie-service.html">
<link rel="import" href="movie-card.html">

<polymer-element name="movie-list">
  <template>
    <style>
      :host {
        display: block;
        max-width: 1200px;
        margin: 0 auto;
        overflow: auto;
      }
      movie-card {
        width: 50%;
        float: left;
      }
      @media only screen and (min-width: 600px) {
        movie-card {
          width: 33%;
        }
      }
      @media only screen and (min-width: 915px) {
        movie-card {
          width: 25%;
        }
      }
      @media only screen and (min-width: 1164px) {
        movie-card {
          width: 20%;
        }
      }
    </style>
    <movie-service id="service" movies="{{movies}}"> </movie-service>
    <div>
      <template repeat="{{movie in movies}}">
        <movie-card movie="{{movie}}">
          <img src="{{movie.cover}}" />
        </movie-card>
      </template>
    </div>
  </template>
  <script>
    Polymer({});
  </script>
</polymer-element>
