<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">

<polymer-element name="movie-card" attributes="movie" on-click="play">
  <template>
    <style>
      :host {
        display: block;
      }
      .card-header {
        position: relative;
      }
      polyfill-next-selector { content: '.card-header img'; }
      .card-header ::content img {
        max-width: 100%;
      }
      video {

      }
    </style>
    <div class="card-header">
      <paper-ripple class="circle" fit></paper-ripple>
      <content fit select="img"></content>
    </div>
  </template>
  <script>
    var player;
    Polymer({
      getID: function () {
        return this.movie.url.split("v=")[1]
      },
      play: function () {
        var id = this.getID()
        YoutubeVideoPlayer.openVideo(id);
      }
    });

  </script>
</polymer-element>
